<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoScrewSys.VariableName.AddrName" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoScrewSys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoScrewSys.VariableName.AddrName>
            <setting name="TaskNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LapsNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Torque" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TighteningAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlarmInfo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ElecBatchPower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RotateSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTVoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrewResult" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StateBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrewsTotal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TightenAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoosenAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FreeAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlarmInfoStr" serializeAs="String">
                <value />
            </setting>
            <setting name="ScrewResultStr" serializeAs="String">
                <value />
            </setting>
            <setting name="TorqueMode" serializeAs="String">
                <value>0</value>
            </setting>
        </AutoScrewSys.VariableName.AddrName>
        <AutoScrewSys.Properties.Settings>
            <setting name="cbxPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="cbxBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="cbxDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="cbxParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="cbxStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="CurrentState" serializeAs="String">
                <value>Tighten</value>
            </setting>
            <setting name="CurrentTask" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CurrentRunState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunStateStr" serializeAs="String">
                <value>Ready</value>
            </setting>
            <setting name="ProductionDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GoodScrews" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataStoredTime" serializeAs="String">
                <value>15天</value>
            </setting>
            <setting name="LogStoredTime" serializeAs="String">
                <value>15天</value>
            </setting>
            <setting name="LoggedOutTime" serializeAs="String">
                <value>1分钟</value>
            </setting>
            <setting name="receptOutTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sendOutTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TorqueUnit" serializeAs="String">
                <value>mn</value>
            </setting>
            <setting name="SnCode" serializeAs="String">
                <value />
            </setting>
            <setting name="NoCollection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrewNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BadScrews" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RTVoltageColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ResultBackColor" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserLevel" serializeAs="String">
                <value>Logout</value>
            </setting>
        </AutoScrewSys.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>